.container-fullwidth{
    width: 100%;
    border: whitesmoke;
}

.container{
    margin: auto;
    width: 80%;
}

.container-fullwidth::after {
    content: "";
    clear: both;
    display: inline-block;
}

.navbar{
    text-align: center;
    height: 2rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: olivedrab;
    border: 1px solid black;
}

li {
    float: left;
    padding: 0 1em;
    border-right:1px solid #bbb;
}

[class*="col-"] {
    padding: 10px;
    margin: 5px;
    float: left;
    background-color: azure;
    border: 1px solid #666;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}